@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media print {
  @page {
    size: A4 landscape;
    margin: 15mm;
  }

   body {
    -webkit-print-color-adjust: exact; 
  }

  /* @page {
    size: 4in 3in landscape;
    margin: 5mm;
  }

  body {
    -webkit-print-color-adjust: exact;
  } */

  #invoice {
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    line-height: 1.6;
    color: black;
  }

  html,
  body {
    height: 100%;
  }

  .print-btn {
    display: none;
  }
}